{% include 'base/header.html' %}
{% load static %}

<body>
	{% include 'base/navbar.html' %}
	<br>
	<div class="container">
		<div class="row">
			<div class='col-md-3'>
				<div class="my-card" id='profile-wrapper'> <img id='profile-pic' src="{% static 'images/jeffg.jpeg' %}">
					<hr class="top-line">
					<h4>Hi, I'm Jeff Gruenbaum.</h4>
					<p>I love to code in my free time and read fantasy fiction!</p>
				</div>
			</div>
			<div class='col-md-9'>
				<div class="my-card">
					<h4>Forget the Title</h4>
					<hr class="top-line">
					<p>Self proclaimed learner. Shredder of corporate labels. Someone who enjoys discovering
						technologies and learning about anything and everything in the IT space, ranging from the nitty
						gritty details of git to the broad scope of software application.
					</p>
					<hr class="top-line">
					<ul class="social-links">
						<a href='https://github.com/jgrugru' target="_blank">
							<li><img class='social-icon' src="{% static 'images/github_icon.png' %}"></li>
						</a>
						<a href='https://www.linkedin.com/in/jeff-gruenbaum-3a544619b' target="_blank">
							<li><img class='social-icon' src="{% static 'images/linkedin_icon1.png' %}"></li>
						</a>
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class='col-md-6'>
				<div class="my-card">
					<h5>What I Do</h5>
					<hr class="top-line">
					<p>Fresh out of college, I began managing code pipelines for the largest tech compamy in Oklahoma. I
						worked with developers to automate steps in the CI/CD pipeline, creating over 100 builds in
						Teamcity, utilizing Docker and Powershell scripting.</p>
					<p>My career has continued in the devops space. Now I get to use Python on a daily basis, automating
						security tasks and integrating tools. </p>
				</div>
			</div>
			<div class='col-md-6'>
				<div class="my-card">
					<h5>My Experience as a Developer</h5>
					<hr class="top-line">
					<p>Ever since the Covid pandemic swept through the US shortly after the ides of March, I have taken
						time to break past surface level development knowledge. To follow that statement up: who is to
						say I broke through? Regardless, I am trying to swim in this newly found software ocean.</p>
					<p>Thanks to social distancing and flattening the curve, I have dug deep into Python and Django,
						replicating linux commands on Windows, creating various webscraping projects and a ticket
						tracking system. Checkout my <a class="p-link" href='https://github.com/jgrugru' target="_blank">github</a>!
					</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class='col-md-6'>
				<div class="my-card">
					<h5>How I Learn</h5>
					<hr class="top-line">
					<p>Projects that give immediate feedback and allow for interactions with other humans are where I
						learn best. As a full-blown extrovert, the human element is crucial when learning. Covid, please
						let up.</p>
					<p>While that is the case, I have discoved that I am extremely motivated to learn about certain
						topics regardless of who is involved. Django is one of them. I have fallen in love with the
						depth of Django's capabilities. I feel like it was built for me: ease of testing and immediate
						feedback.</p>
				</div>
			</div>
			<div class='col-md-6'>
				<div class="my-card">
					<h5>My Short Term Goals</h5>
					<hr class="top-line">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
						totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
						dicta sunt explicabo.</p>
					<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
						consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
				</div>
			</div>
		</div>
		<br>
	</div>
</body>

</html>