<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<title>Jeff Gruenbaum</title>
	<link type='text/css' rel="stylesheet" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<br>
<div class="container">
	<div class="row">
		<div class='col-md-3'>
			<div class="card card-body h-100 border-info" id='profile-wrapper'>
                <img id='profile-pic' src="{% static 'images/jeffg.jpeg' %}">
                <hr>
                <h4>Hi, I'm Jeff Gruenbaum.</h4>
                <p>I love to code in my free time and read fantasy fiction!</p>
			</div>
		</div>
		<div class='col-md-9'>
			<div class="card card-body h-100 border-info">
                <h4>My First Job as a "Professional"</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                
                <ul class="social-links">
                    <a href='https://github.com/jgrugru' target="_blank"><li><img class='social' src="{% static 'images/github_icon.png' %}"></li></a>
                    <a href='https://github.com/jgrugru' target="_blank"><li><img class='social' src="{% static 'images/linkedin_icon1.png' %}"></li></a>

                </ul>
            </div>
		</div>
    </div>
    <br>
    <div class="row">
		<div class='col-md-6'>
			<div class="card card-body h-100">
                <h5>What I Know</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>I am the multi tester formatter texter.</p>
            </div>
		</div>
		<div class='col-md-6'>
			<div class="card card-body h-100">
                <h5>My Experience as a Developer</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		    </div>
		</div>
    </div>
    <br>
    <div class="row">
		<div class='col-md-6'>
			<div class="card card-body h-100">
                <h5>How I Learn</h5>
                <hr>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p><p>totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
			</div>
		</div>
		<div class='col-md-6'>
			<div class="card card-body h-100">
                <h5>My Short Term Goals</h5>
                <hr>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
		</div>
		</div>
    </div>
    <br>
</div>

</body>
</html>