{% include 'base/header.html' %}
{% load static %}

<body>
	{% include 'base/navbar.html' %}
	<br>
	<div class="container">

		<div class="row">
			<div class='col-md-3'>
				<div class="my-card" id='profile-wrapper'> <img id='profile-pic' src="{% static 'images/jeffg.jpeg' %}">
					<hr class="top-line">
					<h4>Hi, I'm Jeff Gruenbaum.</h4>
					<p>I love to code in my free time and read fantasy fiction!</p>
				</div>
			</div>
			<div class='col-md-9'>

				<div class="my-card">
					<h5>What I Do</h5>
					<hr class="top-line">
					<p>Fresh out of college, I began managing code pipelines for the largest tech compamy in Oklahoma. I
						worked with developers to automate steps in the CI/CD pipeline, creating over 100 builds in
						Teamcity, utilizing Docker and Powershell scripting.</p>
					<p>My career has continued in the devops space. Now I get to use Python on a daily basis, automating
						security tasks and integrating tools. </p>
					<p>Thanks to social distancing and flattening the curve, I have dug deep into Python and Django,
						replicating linux commands on Windows, creating various webscraping projects and a ticket
						tracking system. Checkout my <a class="p-link" href='https://github.com/jgrugru' target="_blank">github</a>!
					</p>
				</div>

			</div>
		</div>
		<br>

		<h4 id='sub-title'>My Projects</h4>
		<hr class='top-line'>

		<div class="row">
			<div class='col'>

				<div class="row">
					<div class="col-md-6">
						<a href='https://github.com/jgrugru/grewtix_project' target="_blank">
							<div class="my-card hover-effect" style="height: 11rem;">
								<h5>Grewtix</h5>
								<hr class="top-line">
								<p>Grewtix is a ticket tracking system built through the Python (3.8.5) framework Django (3.0.6). Through Grewtix, you can create tickets for work/projects/teams and assign them as needed. Grewtix is in the beginning stages of development so many features are coming soon.</p>
							</div>
						</a>
					</div>
					<div class="col-md-6">
						<a href='https://github.com/jgrugru/encrypto-env' target="_blank">
						<div class="my-card hover-effect" style="height: 11rem;">
							<h5>Encrypto-env</h5>
							<hr class="top-line">
							<p>With one command, you can setup and protect your environment variables. Encrypto-env encrypts the .env file with an RSA key stored in a pem file.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<a href='https://github.com/jgrugru/htmlfactory' target="_blank">
						<div class="my-card hover-effect" style="height: 11rem;">
							<h5>htmlfactory</h5>
							<hr class="top-line">
							<p>A simple way to produce HTML with Python.</p>
						</div>
					</div>
					<div class="col-md-6">
						<a href='https://github.com/jgrugru/bootstrap-forms' target="_blank">
						<div class="my-card hover-effect" style="height: 11rem;">
							<h5>bootstrap-forms</h5>
							<hr class="top-line">
							<p>Built using the PyPi package htmlfactory. Bootstrap-forms makes form creation through Python hassle-free.</p>
						</div>
					</div>
				</div>

			</div>
		</div>

		<br>
		<br>

	</div>
</body>

</html>