body{
    /* background-color:#F8F8F8!important; */
    background-color:#eefaff!important;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width:128px;
    height:128px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0;
    list-style-type: none;
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;

}

.social{
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.card{
    background-color: #d7e6f7!important;
}

.card > h4, .card > h5{
    color: #001F54;
    font-weight: 900;
}

.card > p {
    color: #0A1128;
}
