body{
    /* background-color:#F8F8F8!important; */
    background-color:#000000!important;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width:128px;
    height:128px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

ul{
    padding: 0;
    list-style-type: none;
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none!important;

}

.social{
    width: 30px;
    height: 30px;
    background-color: #031628;
}

.my-card{
    background-color: #031628;
    border-style: solid;
    border-width: 1px;
    margin:5px 2px 7px 5px;
}

.my-card > h4, .my-card > h5{
    color: #1aeb58;
    font-weight: 900;
    margin:10px;
}

.my-card > p {
    color: #049aff;
    margin:10px;
}
